ServiceMoq/ServiceMoq/ServiceIntegration/Web References/wsRsaSendOsago/ISend_OSAGO_Serviceservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ISend_OSAGO_Serviceservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="Send_OSAGO_240Request">
    <part name="XML_Node_Data" type="xs:string" />
    <part name="Partner_System_Name" type="xs:string" />
    <part name="Branch_Code" type="xs:string" />
    <part name="Agent_LNR" type="xs:string" />
    <part name="Agent_name" type="xs:string" />
    <part name="Check_Only_Dont_Send" type="xs:boolean" />
    <part name="VersionsSL" type="xs:string" />
    <part name="Agent_IP" type="xs:string" />
  </message>
  <message name="Send_OSAGO_240Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Send_OSAGO_Get_Reject_Number1Request">
    <part name="Partner_System_Name" type="xs:string" />
    <part name="Branch_Code" type="xs:string" />
    <part name="Agent_LNR" type="xs:string" />
    <part name="Agent_name" type="xs:string" />
    <part name="XML_Node_Data" type="xs:string" />
  </message>
  <message name="Send_OSAGO_Get_Reject_Number1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Send_OSAGO_Reject2Request">
    <part name="XML_Node_Data" type="xs:string" />
    <part name="PDF_FileBody" type="xs:base64Binary" />
    <part name="Partner_System_Name" type="xs:string" />
  </message>
  <message name="Send_OSAGO_Reject2Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Send_EOSAGO_2_AS3Request">
    <part name="DraftPolicyID" type="xs:string" />
    <part name="Region" type="xs:string" />
    <part name="policy_series" type="xs:string" />
    <part name="policy_number" type="xs:string" />
  </message>
  <message name="Send_EOSAGO_2_AS3Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Send_TO_244Request">
    <part name="XML_Node_Data" type="xs:string" />
    <part name="Partner_System_Name" type="xs:string" />
    <part name="Branch_Code" type="xs:string" />
    <part name="Agent_LNR" type="xs:string" />
    <part name="Agent_name" type="xs:string" />
  </message>
  <message name="Send_TO_244Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="ISend_OSAGO_Service">
    <operation name="Send_OSAGO_24">
      <input message="tns:Send_OSAGO_240Request" />
      <output message="tns:Send_OSAGO_240Response" />
    </operation>
    <operation name="Send_OSAGO_Get_Reject_Number">
      <input message="tns:Send_OSAGO_Get_Reject_Number1Request" />
      <output message="tns:Send_OSAGO_Get_Reject_Number1Response" />
    </operation>
    <operation name="Send_OSAGO_Reject">
      <input message="tns:Send_OSAGO_Reject2Request" />
      <output message="tns:Send_OSAGO_Reject2Response" />
    </operation>
    <operation name="Send_EOSAGO_2_AS">
      <input message="tns:Send_EOSAGO_2_AS3Request" />
      <output message="tns:Send_EOSAGO_2_AS3Response" />
    </operation>
    <operation name="Send_TO_24">
      <input message="tns:Send_TO_244Request" />
      <output message="tns:Send_TO_244Response" />
    </operation>
  </portType>
  <binding name="ISend_OSAGO_Servicebinding" type="tns:ISend_OSAGO_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="Send_OSAGO_24">
      <soap:operation soapAction="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service#Send_OSAGO_24" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Send_OSAGO_Get_Reject_Number">
      <soap:operation soapAction="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service#Send_OSAGO_Get_Reject_Number" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Send_OSAGO_Reject">
      <soap:operation soapAction="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service#Send_OSAGO_Reject" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Send_EOSAGO_2_AS">
      <soap:operation soapAction="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service#Send_EOSAGO_2_AS" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Send_TO_24">
      <soap:operation soapAction="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service#Send_TO_24" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:Send_OSAGO_Service_srv-ISend_OSAGO_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="ISend_OSAGO_Serviceservice">
    <port name="ISend_OSAGO_ServicePort" binding="tns:ISend_OSAGO_Servicebinding">
      <soap:address location="http://arm-apo.ss.rgs.ru/Send_OSAGO_Service_Test/Send_OSAGO_Service.dll/soap/ISend_OSAGO_Service" />
    </port>
  </service>
</definitions>