ServiceMoq/ServiceMoq/ServiceIntegration/Connected Services/VehicleAggregator/VehicleAggregatorSoapEndpointImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://rgs.ru/vehicle-aggregator/v1/types/response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rgs.ru/vehicle-aggregator/v1/types" xmlns:ns1="http://rgs.ru/vehicle-aggregator/v1/types/request" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" name="VehicleAggregatorSoapEndpointImplService" targetNamespace="http://rgs.ru/vehicle-aggregator/v1/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://rgs.ru/vehicle-aggregator/v1/types" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="request">
        <xs:sequence>
          <xs:element minOccurs="0" name="businessData" type="tns:requestBusinessData" />
          <xs:element minOccurs="0" name="techData" type="tns:requestTechData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestBusinessData">
        <xs:sequence>
          <xs:element minOccurs="0" name="bodyNumber" type="xs:string" />
          <xs:element minOccurs="0" name="grz" type="xs:string" />
          <xs:element minOccurs="0" name="vin" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestTechData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseTechData">
            <xs:sequence>
              <xs:element name="disableCacheReads" type="xs:boolean" />
              <xs:element name="disableCacheWrites" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseTechData" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="actionId" type="xs:string" />
          <xs:element minOccurs="0" name="correlationId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="response">
        <xs:sequence>
          <xs:element minOccurs="0" name="businessData" type="tns:responseBusinessData" />
          <xs:element minOccurs="0" name="techData" type="tns:responseTechData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseBusinessData">
        <xs:sequence>
          <xs:element minOccurs="0" name="aggregate" type="tns:aggregatedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="aggregatedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="bodyNumber" type="xs:string" />
          <xs:element minOccurs="0" name="bodyType" type="xs:string" />
          <xs:element minOccurs="0" name="carEngine" type="xs:string" />
          <xs:element minOccurs="0" name="carModification" type="xs:string" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="chassisNumber" type="xs:string" />
          <xs:element minOccurs="0" name="claimsData" type="tns:claimsData" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="docs" nillable="true" type="tns:vehicleDocument" />
          <xs:element minOccurs="0" name="doors" type="xs:int" />
          <xs:element minOccurs="0" name="engineCapacity" type="xs:int" />
          <xs:element minOccurs="0" name="enginePower" type="tns:enginePower" />
          <xs:element minOccurs="0" name="engineType" type="xs:string" />
          <xs:element minOccurs="0" name="firstRegistrationDate" type="tns:localDate" />
          <xs:element minOccurs="0" name="historyData" type="tns:historyData" />
          <xs:element minOccurs="0" name="lastRegistrationDate" type="tns:localDate" />
          <xs:element minOccurs="0" name="mark" type="xs:string" />
          <xs:element minOccurs="0" name="maxPrice" type="xs:int" />
          <xs:element minOccurs="0" name="maxWeight" type="xs:int" />
          <xs:element minOccurs="0" name="midPrice" type="xs:int" />
          <xs:element minOccurs="0" name="minPrice" type="xs:int" />
          <xs:element minOccurs="0" name="model" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="motorwertEntries" nillable="true" type="tns:motorwert" />
          <xs:element minOccurs="0" name="reg_num" type="xs:string" />
          <xs:element minOccurs="0" name="rsaCode" type="xs:string" />
          <xs:element minOccurs="0" name="seats" type="xs:int" />
          <xs:element minOccurs="0" name="submodel" type="xs:string" />
          <xs:element minOccurs="0" name="transmissionType" type="xs:string" />
          <xs:element minOccurs="0" name="vehicleType" type="xs:string" />
          <xs:element minOccurs="0" name="vin" type="xs:string" />
          <xs:element minOccurs="0" name="yearOfProduction" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="claimsData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="claims" nillable="true" type="tns:claimData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="claimData" final="extension restriction">
        <xs:sequence>
          <xs:element minOccurs="0" name="creationDate" type="tns:localDate" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="vehicle" type="tns:vehicleData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="localDate" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="vehicleData">
        <xs:sequence>
          <xs:element minOccurs="0" name="mileage" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vehicleDocument">
        <xs:sequence>
          <xs:element minOccurs="0" name="docNumber" type="xs:string" />
          <xs:element minOccurs="0" name="docSeries" type="xs:string" />
          <xs:element minOccurs="0" name="docType" type="xs:string" />
          <xs:element minOccurs="0" name="issueDate" type="tns:localDate" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="enginePower">
        <xs:sequence>
          <xs:element minOccurs="0" name="enginePowerHP" type="xs:decimal" />
          <xs:element minOccurs="0" name="enginePowerKW" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="historyData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="header" nillable="true" type="tns:historyHeaderData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="historyHeaderData">
        <xs:sequence>
          <xs:element minOccurs="0" name="calculationDateTime" type="tns:localDateTime" />
          <xs:element minOccurs="0" name="totalCost" type="tns:costDataWithVat" />
          <xs:element minOccurs="0" name="totalLoss" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="localDateTime" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="costDataWithVat" final="extension restriction">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:costData">
            <xs:sequence>
              <xs:element name="vatIncluded" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="costData">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="currency" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="motorwert">
        <xs:sequence>
          <xs:element minOccurs="0" name="bodyType" type="xs:string" />
          <xs:element minOccurs="0" name="carEngine" type="xs:string" />
          <xs:element minOccurs="0" name="carModification" type="xs:string" />
          <xs:element minOccurs="0" name="doors" type="xs:int" />
          <xs:element minOccurs="0" name="maxWeight" type="xs:int" />
          <xs:element minOccurs="0" name="motorwertEnginePower" type="xs:decimal" />
          <xs:element minOccurs="0" name="motorwertId" type="xs:string" />
          <xs:element minOccurs="0" name="price" type="xs:int" />
          <xs:element minOccurs="0" name="seats" type="xs:int" />
          <xs:element minOccurs="0" name="transmissionType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseTechData">
        <xs:sequence>
          <xs:element minOccurs="0" name="actionId" type="xs:string" />
          <xs:element minOccurs="0" name="correlationId" type="xs:string" />
          <xs:element minOccurs="0" name="errorDescription" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsd:schema xmlns="http://rgs.ru/vehicle-aggregator/v1/types/request" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rgs.ru/vehicle-aggregator/v1/types/request">
      <xsd:import namespace="http://rgs.ru/vehicle-aggregator/v1/types" />
      <xsd:element name="aggregateRequest" nillable="true" type="tns:request" />
    </xsd:schema>
    <xsd:schema xmlns="http://rgs.ru/vehicle-aggregator/v1/types/response" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rgs.ru/vehicle-aggregator/v1/types/response">
      <xsd:import namespace="http://rgs.ru/vehicle-aggregator/v1/types" />
      <xsd:element name="aggregateResponse" nillable="true" type="tns:response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="aggregate">
    <wsdl:part name="aggregateRequest" element="ns1:aggregateRequest" />
  </wsdl:message>
  <wsdl:message name="aggregateResponse">
    <wsdl:part name="aggregateResponse" element="ns2:aggregateResponse" />
  </wsdl:message>
  <wsdl:portType name="VehicleAggregator">
    <wsdl:operation name="aggregate">
      <wsdl:input name="aggregate" message="tns:aggregate" />
      <wsdl:output name="aggregateResponse" message="tns:aggregateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VehicleAggregatorSoapEndpointImplServiceSoapBinding" type="tns:VehicleAggregator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="aggregate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="aggregate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="aggregateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehicleAggregatorSoapEndpointImplService">
    <wsdl:port name="VehicleAggregatorPort" binding="tns:VehicleAggregatorSoapEndpointImplServiceSoapBinding">
      <soap:address location="http://service-aggregator.os-preprod.rgs.ru/soap-api/vehicle-aggregator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>