ServiceMoq/ServiceMoq/ServiceIntegration/Web References/wsSoftRater/SoftRaterWSSoap11HttpPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://com.oracle.ins.ru.sr.ui.webservices" targetNamespace="http://com.oracle.ins.ru.sr.ui.webservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ibssExceptionBean">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" name="messageCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearCacheItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aType" type="xsd:short" />
      <xsd:element name="aLOB" type="xsd:int" />
      <xsd:element name="aCompanyId" type="xsd:int" />
      <xsd:element name="aProgramId" type="xsd:int" />
      <xsd:element name="aProgramVersion" type="xsd:float" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearCacheItemResponse" />
  <xsd:complexType name="getDefaultPath" />
  <xsd:complexType name="getDefaultPathResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getErrorMessage" />
  <xsd:complexType name="getErrorMessageResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getVersion" />
  <xsd:complexType name="getVersionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessCustom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInput" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:boolean" />
      <xsd:element name="aDisableCache" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aLOB" type="xsd:int" />
      <xsd:element name="aCompanyId" type="xsd:int" />
      <xsd:element name="aProgramId" type="xsd:int" />
      <xsd:element name="aProgramVersion" type="xsd:float" />
      <xsd:element name="aUseResultEncoding" type="xsd:int" />
      <xsd:element minOccurs="0" name="aUseResultDefinition" type="xsd:string" />
      <xsd:element name="aInputMappingType" type="xsd:short" />
      <xsd:element minOccurs="0" name="aInputMappingIdentifier" type="xsd:string" />
      <xsd:element name="aOutputMappingType" type="xsd:short" />
      <xsd:element minOccurs="0" name="aOutputMappingIdentifier" type="xsd:string" />
      <xsd:element name="aOutputMappingStateful" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aOutputErrorXpathLoc" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessCustomResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessIB">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInput" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aInStyle" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessIBResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInput" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aAddWorksheet" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:int" />
      <xsd:element name="aDisableCache" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aUseResultEncoding" type="xsd:int" />
      <xsd:element minOccurs="0" name="aUseResultDefinition" type="xsd:string" />
      <xsd:element name="aInMemoryBatch" type="xsd:boolean" />
      <xsd:element name="aAddInputsToDb" type="xsd:boolean" />
      <xsd:element name="aAddResultsToDb" type="xsd:boolean" />
      <xsd:element name="aProcessAsync" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestCustom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInput" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLInputTag" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aAddWorksheet" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:int" />
      <xsd:element name="aDisableCache" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aLOB" type="xsd:int" />
      <xsd:element name="aCompanyId" type="xsd:int" />
      <xsd:element name="aProgramId" type="xsd:int" />
      <xsd:element name="aProgramVersion" type="xsd:float" />
      <xsd:element name="aUseResultEncoding" type="xsd:int" />
      <xsd:element minOccurs="0" name="aUseResultDefinition" type="xsd:string" />
      <xsd:element name="aInputMappingType" type="xsd:short" />
      <xsd:element minOccurs="0" name="aInputMappingIdentifier" type="xsd:string" />
      <xsd:element name="aOutputMappingType" type="xsd:short" />
      <xsd:element minOccurs="0" name="aOutputMappingIdentifier" type="xsd:string" />
      <xsd:element name="aOutputMappingStateful" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aOutputErrorXpathLoc" type="xsd:string" />
      <xsd:element name="aInMemoryBatch" type="xsd:boolean" />
      <xsd:element name="aAddInputsToDb" type="xsd:boolean" />
      <xsd:element name="aAddResultsToDb" type="xsd:boolean" />
      <xsd:element name="aProcessAsync" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestCustomFromDisk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInput" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLInputTag" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLResult" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aAddWorksheet" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:int" />
      <xsd:element name="aDisableCache" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aLOB" type="xsd:int" />
      <xsd:element name="aCompanyId" type="xsd:int" />
      <xsd:element name="aProgramId" type="xsd:int" />
      <xsd:element name="aProgramVersion" type="xsd:float" />
      <xsd:element name="aUseResultEncoding" type="xsd:int" />
      <xsd:element minOccurs="0" name="aUseResultDefinition" type="xsd:string" />
      <xsd:element name="aInputMappingType" type="xsd:short" />
      <xsd:element minOccurs="0" name="aInputMappingIdentifier" type="xsd:string" />
      <xsd:element name="aOutputMappingType" type="xsd:short" />
      <xsd:element minOccurs="0" name="aOutputMappingIdentifier" type="xsd:string" />
      <xsd:element name="aOutputMappingStateful" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aOutputErrorXpathLoc" type="xsd:string" />
      <xsd:element name="aDeleteInputXmlFromDisk" type="xsd:boolean" />
      <xsd:element name="aAddInputsToDb" type="xsd:boolean" />
      <xsd:element name="aAddResultsToDb" type="xsd:boolean" />
      <xsd:element name="aProcessAsync" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestCustomFromDiskResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestCustomResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestFromDb">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInputBatchId" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLInputRefId" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLResultBatchId" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLInputVersionOverride" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aAddWorksheet" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:int" />
      <xsd:element name="aDisableCache" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aTargetSubscriber" type="xsd:string" />
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aUseResultEncoding" type="xsd:int" />
      <xsd:element minOccurs="0" name="aUseResultDefinition" type="xsd:string" />
      <xsd:element name="aIncludeResultsInResponse" type="xsd:boolean" />
      <xsd:element name="aProcessAsync" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestFromDbResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestFromDisk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aXMLInput" type="xsd:string" />
      <xsd:element minOccurs="0" name="aXMLResult" type="xsd:string" />
      <xsd:element name="aAddRoot" type="xsd:boolean" />
      <xsd:element name="aAddInputs" type="xsd:boolean" />
      <xsd:element name="aAddHeading" type="xsd:boolean" />
      <xsd:element name="aAddResultDesc" type="xsd:boolean" />
      <xsd:element name="aAddResultThatAreEmpty" type="xsd:boolean" />
      <xsd:element name="aAddWorksheet" type="xsd:boolean" />
      <xsd:element name="aDoDebugOutput" type="xsd:int" />
      <xsd:element name="aDisableCache" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element name="aUseResultEncoding" type="xsd:int" />
      <xsd:element minOccurs="0" name="aUseResultDefinition" type="xsd:string" />
      <xsd:element name="aDeleteInputXmlFromDisk" type="xsd:boolean" />
      <xsd:element name="aAddInputsToDb" type="xsd:boolean" />
      <xsd:element name="aAddResultsToDb" type="xsd:boolean" />
      <xsd:element name="aProcessAsync" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestFromDiskResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessRequestResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryAvailableEnvironments" />
  <xsd:complexType name="QueryAvailableEnvironmentsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReceiveAsyncRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aIbDocId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReceiveAsyncRequestResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaveMapping">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aTargetEnvironment" type="xsd:string" />
      <xsd:element minOccurs="0" name="aFileName" type="xsd:string" />
      <xsd:element minOccurs="0" name="aStyleData" type="xsd:string" />
      <xsd:element name="aType" type="xsd:short" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaveMappingResponse" />
  <xsd:element name="ClearCacheItem" type="ns0:ClearCacheItem" />
  <xsd:element name="ClearCacheItemResponse" type="ns0:ClearCacheItemResponse" />
  <xsd:element name="getDefaultPath" type="ns0:getDefaultPath" />
  <xsd:element name="getDefaultPathResponse" type="ns0:getDefaultPathResponse" />
  <xsd:element name="getErrorMessage" type="ns0:getErrorMessage" />
  <xsd:element name="getErrorMessageResponse" type="ns0:getErrorMessageResponse" />
  <xsd:element name="getVersion" type="ns0:getVersion" />
  <xsd:element name="getVersionResponse" type="ns0:getVersionResponse" />
  <xsd:element name="ProcessCustom" type="ns0:ProcessCustom" />
  <xsd:element name="ProcessCustomResponse" type="ns0:ProcessCustomResponse" />
  <xsd:element name="ProcessIB" type="ns0:ProcessIB" />
  <xsd:element name="ProcessIBResponse" type="ns0:ProcessIBResponse" />
  <xsd:element name="ProcessRequest" type="ns0:ProcessRequest" />
  <xsd:element name="ProcessRequestCustom" type="ns0:ProcessRequestCustom" />
  <xsd:element name="ProcessRequestCustomFromDisk" type="ns0:ProcessRequestCustomFromDisk" />
  <xsd:element name="ProcessRequestCustomFromDiskResponse" type="ns0:ProcessRequestCustomFromDiskResponse" />
  <xsd:element name="ProcessRequestCustomResponse" type="ns0:ProcessRequestCustomResponse" />
  <xsd:element name="ProcessRequestFromDb" type="ns0:ProcessRequestFromDb" />
  <xsd:element name="ProcessRequestFromDbResponse" type="ns0:ProcessRequestFromDbResponse" />
  <xsd:element name="ProcessRequestFromDisk" type="ns0:ProcessRequestFromDisk" />
  <xsd:element name="ProcessRequestFromDiskResponse" type="ns0:ProcessRequestFromDiskResponse" />
  <xsd:element name="ProcessRequestResponse" type="ns0:ProcessRequestResponse" />
  <xsd:element name="QueryAvailableEnvironments" type="ns0:QueryAvailableEnvironments" />
  <xsd:element name="QueryAvailableEnvironmentsResponse" type="ns0:QueryAvailableEnvironmentsResponse" />
  <xsd:element name="ReceiveAsyncRequest" type="ns0:ReceiveAsyncRequest" />
  <xsd:element name="ReceiveAsyncRequestResponse" type="ns0:ReceiveAsyncRequestResponse" />
  <xsd:element name="SaveMapping" type="ns0:SaveMapping" />
  <xsd:element name="SaveMappingResponse" type="ns0:SaveMappingResponse" />
  <xsd:element name="IbssException" nillable="true" type="ns0:ibssExceptionBean" />
</xsd:schema>