ServiceMoq/ServiceMoq/ServiceIntegration/Web References/wsSoftRater/SoftRaterWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://com.oracle.ins.ru.sr.ui.webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SoftRaterWS" targetNamespace="http://com.oracle.ins.ru.sr.ui.webservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ibqa.rgs.ru:7003/IBSS/SoftRaterWSSoap11HttpPort?xsd=1" namespace="http://com.oracle.ins.ru.sr.ui.webservices" />
    </xsd:schema>
  </types>
  <message name="ProcessIB">
    <part name="parameters" element="tns:ProcessIB" />
  </message>
  <message name="ProcessIBResponse">
    <part name="parameters" element="tns:ProcessIBResponse" />
  </message>
  <message name="IbssException">
    <part name="fault" element="tns:IbssException" />
  </message>
  <message name="ProcessRequest">
    <part name="parameters" element="tns:ProcessRequest" />
  </message>
  <message name="ProcessRequestResponse">
    <part name="parameters" element="tns:ProcessRequestResponse" />
  </message>
  <message name="ReceiveAsyncRequest">
    <part name="parameters" element="tns:ReceiveAsyncRequest" />
  </message>
  <message name="ReceiveAsyncRequestResponse">
    <part name="parameters" element="tns:ReceiveAsyncRequestResponse" />
  </message>
  <message name="ProcessRequestFromDisk">
    <part name="parameters" element="tns:ProcessRequestFromDisk" />
  </message>
  <message name="ProcessRequestFromDiskResponse">
    <part name="parameters" element="tns:ProcessRequestFromDiskResponse" />
  </message>
  <message name="ProcessRequestFromDb">
    <part name="parameters" element="tns:ProcessRequestFromDb" />
  </message>
  <message name="ProcessRequestFromDbResponse">
    <part name="parameters" element="tns:ProcessRequestFromDbResponse" />
  </message>
  <message name="ProcessCustom">
    <part name="parameters" element="tns:ProcessCustom" />
  </message>
  <message name="ProcessCustomResponse">
    <part name="parameters" element="tns:ProcessCustomResponse" />
  </message>
  <message name="ProcessRequestCustom">
    <part name="parameters" element="tns:ProcessRequestCustom" />
  </message>
  <message name="ProcessRequestCustomResponse">
    <part name="parameters" element="tns:ProcessRequestCustomResponse" />
  </message>
  <message name="ProcessRequestCustomFromDisk">
    <part name="parameters" element="tns:ProcessRequestCustomFromDisk" />
  </message>
  <message name="ProcessRequestCustomFromDiskResponse">
    <part name="parameters" element="tns:ProcessRequestCustomFromDiskResponse" />
  </message>
  <message name="ClearCacheItem">
    <part name="parameters" element="tns:ClearCacheItem" />
  </message>
  <message name="ClearCacheItemResponse">
    <part name="parameters" element="tns:ClearCacheItemResponse" />
  </message>
  <message name="QueryAvailableEnvironments">
    <part name="parameters" element="tns:QueryAvailableEnvironments" />
  </message>
  <message name="QueryAvailableEnvironmentsResponse">
    <part name="parameters" element="tns:QueryAvailableEnvironmentsResponse" />
  </message>
  <message name="SaveMapping">
    <part name="parameters" element="tns:SaveMapping" />
  </message>
  <message name="SaveMappingResponse">
    <part name="parameters" element="tns:SaveMappingResponse" />
  </message>
  <message name="getErrorMessage">
    <part name="parameters" element="tns:getErrorMessage" />
  </message>
  <message name="getErrorMessageResponse">
    <part name="parameters" element="tns:getErrorMessageResponse" />
  </message>
  <message name="getDefaultPath">
    <part name="parameters" element="tns:getDefaultPath" />
  </message>
  <message name="getDefaultPathResponse">
    <part name="parameters" element="tns:getDefaultPathResponse" />
  </message>
  <message name="getVersion">
    <part name="parameters" element="tns:getVersion" />
  </message>
  <message name="getVersionResponse">
    <part name="parameters" element="tns:getVersionResponse" />
  </message>
  <portType name="SoftRaterWS">
    <operation name="ProcessIB">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessIBRequest" message="tns:ProcessIB" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessIBResponse" message="tns:ProcessIBResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessIB/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ProcessRequest">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestRequest" message="tns:ProcessRequest" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestResponse" message="tns:ProcessRequestResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequest/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ReceiveAsyncRequest">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ReceiveAsyncRequestRequest" message="tns:ReceiveAsyncRequest" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ReceiveAsyncRequestResponse" message="tns:ReceiveAsyncRequestResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ReceiveAsyncRequest/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ProcessRequestFromDisk">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestFromDiskRequest" message="tns:ProcessRequestFromDisk" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestFromDiskResponse" message="tns:ProcessRequestFromDiskResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestFromDisk/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ProcessRequestFromDb">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestFromDbRequest" message="tns:ProcessRequestFromDb" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestFromDbResponse" message="tns:ProcessRequestFromDbResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestFromDb/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ProcessCustom">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessCustomRequest" message="tns:ProcessCustom" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessCustomResponse" message="tns:ProcessCustomResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessCustom/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ProcessRequestCustom">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestCustomRequest" message="tns:ProcessRequestCustom" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestCustomResponse" message="tns:ProcessRequestCustomResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestCustom/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ProcessRequestCustomFromDisk">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestCustomFromDiskRequest" message="tns:ProcessRequestCustomFromDisk" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestCustomFromDiskResponse" message="tns:ProcessRequestCustomFromDiskResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ProcessRequestCustomFromDisk/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="ClearCacheItem">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ClearCacheItemRequest" message="tns:ClearCacheItem" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ClearCacheItemResponse" message="tns:ClearCacheItemResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/ClearCacheItem/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="QueryAvailableEnvironments">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/QueryAvailableEnvironmentsRequest" message="tns:QueryAvailableEnvironments" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/QueryAvailableEnvironmentsResponse" message="tns:QueryAvailableEnvironmentsResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/QueryAvailableEnvironments/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="SaveMapping">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/SaveMappingRequest" message="tns:SaveMapping" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/SaveMappingResponse" message="tns:SaveMappingResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/SaveMapping/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="getErrorMessage">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getErrorMessageRequest" message="tns:getErrorMessage" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getErrorMessageResponse" message="tns:getErrorMessageResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getErrorMessage/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="getDefaultPath">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getDefaultPathRequest" message="tns:getDefaultPath" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getDefaultPathResponse" message="tns:getDefaultPathResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getDefaultPath/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
    <operation name="getVersion">
      <input wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getVersionRequest" message="tns:getVersion" />
      <output wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getVersionResponse" message="tns:getVersionResponse" />
      <fault wsam:Action="http://com.oracle.ins.ru.sr.ui.webservices/SoftRaterWS/getVersion/Fault/IbssException" name="IbssException" message="tns:IbssException" />
    </operation>
  </portType>
  <binding name="SoftRaterWSSoap11HttpPortBinding" type="tns:SoftRaterWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ProcessIB">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ProcessRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ReceiveAsyncRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ProcessRequestFromDisk">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ProcessRequestFromDb">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ProcessCustom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ProcessRequestCustom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ProcessRequestCustomFromDisk">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="ClearCacheItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="QueryAvailableEnvironments">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="SaveMapping">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="getErrorMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="getDefaultPath">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
    <operation name="getVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IbssException">
        <soap:fault use="literal" name="IbssException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SoftRaterWS">
    <port name="SoftRaterWSSoap11HttpPort" binding="tns:SoftRaterWSSoap11HttpPortBinding">
      <soap:address location="http://ibqa.rgs.ru:7003/IBSS/SoftRaterWSSoap11HttpPort" />
    </port>
  </service>
</definitions>