ServiceMoq/ServiceMoq/ServiceIntegration/Connected Services/wsFileStorage/FileStoreAPI1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://web.filestore.rgs.ru/" name="FileStoreAPI" targetNamespace="http://web.filestore.rgs.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://web.filestore.rgs.ru/" elementFormDefault="unqualified" targetNamespace="http://web.filestore.rgs.ru/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="createFile" type="tns:createFile" />
      <xs:element name="createFileResponse" type="tns:createFileResponse" />
      <xs:element name="deleteFile" type="tns:deleteFile" />
      <xs:element name="deleteFileResponse" type="tns:deleteFileResponse" />
      <xs:element name="existsFile" type="tns:existsFile" />
      <xs:element name="existsFileResponse" type="tns:existsFileResponse" />
      <xs:element name="readFile" type="tns:readFile" />
      <xs:element name="readFileResponse" type="tns:readFileResponse" />
      <xs:element name="readSignature" type="tns:readSignature" />
      <xs:element name="readSignatureResponse" type="tns:readSignatureResponse" />
      <xs:element name="updateFile" type="tns:updateFile" />
      <xs:element name="updateFileResponse" type="tns:updateFileResponse" />
      <xs:complexType name="createFile">
        <xs:sequence>
          <xs:element name="client" type="tns:serviceClient" />
          <xs:element name="document" type="tns:document" />
          <xs:element minOccurs="0" name="signature" type="tns:signatureHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceClient">
        <xs:sequence>
          <xs:element minOccurs="0" name="ip" type="xs:string" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="mac" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="document">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="isVideo" type="xs:boolean" />
          <xs:element minOccurs="0" name="mimeType" type="xs:string" />
          <xs:element minOccurs="0" name="ttl" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="signatureHolder">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createFileResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:fileService_createFileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fileService_createFileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkSum" type="xs:string" />
          <xs:element minOccurs="0" name="keyHolder" type="tns:keyHolder" />
          <xs:element minOccurs="0" name="signatureHolder" type="tns:signatureHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="keyHolder">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteFile">
        <xs:sequence>
          <xs:element name="client" type="tns:serviceClient" />
          <xs:element name="key" type="tns:keyHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteFileResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="updateFile">
        <xs:sequence>
          <xs:element name="client" type="tns:serviceClient" />
          <xs:element name="key" type="tns:keyHolder" />
          <xs:element name="document" type="tns:document" />
          <xs:element minOccurs="0" name="signature" type="tns:signatureHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateFileResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:fileService_updateFileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fileService_updateFileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkSum" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readSignature">
        <xs:sequence>
          <xs:element name="client" type="tns:serviceClient" />
          <xs:element name="key" type="tns:keyHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readSignatureResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:fileService_readSignatureResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fileService_readSignatureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="signatureHolder" type="tns:signatureHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="existsFile">
        <xs:sequence>
          <xs:element name="client" type="tns:serviceClient" />
          <xs:element name="key" type="tns:keyHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="existsFileResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:fileService_existsFileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fileService_existsFileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkSum" type="xs:string" />
          <xs:element name="exists" type="xs:boolean" />
          <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="isVideo" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readFile">
        <xs:sequence>
          <xs:element name="client" type="tns:serviceClient" />
          <xs:element name="key" type="tns:keyHolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readFileResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:fileService_readFileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fileService_readFileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkSum" type="xs:string" />
          <xs:element minOccurs="0" name="document" type="tns:document" />
          <xs:element minOccurs="0" name="signatureHolder" type="tns:signatureHolder" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="readFileResponse">
    <wsdl:part name="parameters" element="ns1:readFileResponse" />
  </wsdl:message>
  <wsdl:message name="createFile">
    <wsdl:part name="parameters" element="ns1:createFile" />
  </wsdl:message>
  <wsdl:message name="readSignatureResponse">
    <wsdl:part name="parameters" element="ns1:readSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="updateFileResponse">
    <wsdl:part name="parameters" element="ns1:updateFileResponse" />
  </wsdl:message>
  <wsdl:message name="deleteFile">
    <wsdl:part name="parameters" element="ns1:deleteFile" />
  </wsdl:message>
  <wsdl:message name="deleteFileResponse">
    <wsdl:part name="parameters" element="ns1:deleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="existsFileResponse">
    <wsdl:part name="parameters" element="ns1:existsFileResponse" />
  </wsdl:message>
  <wsdl:message name="updateFile">
    <wsdl:part name="parameters" element="ns1:updateFile" />
  </wsdl:message>
  <wsdl:message name="createFileResponse">
    <wsdl:part name="parameters" element="ns1:createFileResponse" />
  </wsdl:message>
  <wsdl:message name="readSignature">
    <wsdl:part name="parameters" element="ns1:readSignature" />
  </wsdl:message>
  <wsdl:message name="existsFile">
    <wsdl:part name="parameters" element="ns1:existsFile" />
  </wsdl:message>
  <wsdl:message name="readFile">
    <wsdl:part name="parameters" element="ns1:readFile" />
  </wsdl:message>
  <wsdl:portType name="FileStoreAPI">
    <wsdl:operation name="createFile">
      <wsdl:input name="createFile" message="ns1:createFile" />
      <wsdl:output name="createFileResponse" message="ns1:createFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <wsdl:input name="deleteFile" message="ns1:deleteFile" />
      <wsdl:output name="deleteFileResponse" message="ns1:deleteFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateFile">
      <wsdl:input name="updateFile" message="ns1:updateFile" />
      <wsdl:output name="updateFileResponse" message="ns1:updateFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="readSignature">
      <wsdl:input name="readSignature" message="ns1:readSignature" />
      <wsdl:output name="readSignatureResponse" message="ns1:readSignatureResponse" />
    </wsdl:operation>
    <wsdl:operation name="existsFile">
      <wsdl:input name="existsFile" message="ns1:existsFile" />
      <wsdl:output name="existsFileResponse" message="ns1:existsFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="readFile">
      <wsdl:input name="readFile" message="ns1:readFile" />
      <wsdl:output name="readFileResponse" message="ns1:readFileResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>