ServiceMoq/ServiceMoq/ServiceIntegration/Web References/wsArmProxy/IAPO2_ARM_READERservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IAPO2_ARM_READERservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="Check_BSORequest">
    <part name="BSO_ser" type="xs:string" />
    <part name="BSO_num" type="xs:string" />
    <part name="ARM_Agent_ID" type="xs:string" />
  </message>
  <message name="Check_BSOResponse">
    <part name="return" type="xs:int" />
  </message>
  <message name="Check_BSO2Request">
    <part name="BSO_ser" type="xs:string" />
    <part name="BSO_num" type="xs:string" />
    <part name="ARM_Agent_ID" type="xs:string" />
    <part name="bso_type_id" type="xs:int" />
  </message>
  <message name="Check_BSO2Response">
    <part name="return" type="xs:int" />
  </message>
  <message name="Check_BSO3Request">
    <part name="BSO_ser" type="xs:string" />
    <part name="BSO_num" type="xs:string" />
  </message>
  <message name="Check_BSO3Response">
    <part name="return" type="xs:int" />
  </message>
  <message name="Check_BSO4Request">
    <part name="BSO_ser" type="xs:string" />
    <part name="BSO_num" type="xs:string" />
    <part name="BSO_TypeID" type="xs:int" />
    <part name="Agent_LNR" type="xs:string" />
    <part name="Agent_SKK" type="xs:string" />
  </message>
  <message name="Check_BSO4Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Check_BSO5Request">
    <part name="BSO_ser" type="xs:string" />
    <part name="BSO_num" type="xs:string" />
    <part name="BSO_TypeID" type="xs:int" />
    <part name="Agent_LNR" type="xs:string" />
    <part name="Agent_SKK" type="xs:string" />
    <part name="Date_of_Issue" type="xs:string" />
  </message>
  <message name="Check_BSO5Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetFactDatabyAgentIDRequest">
    <part name="AgentID" type="xs:string" />
    <part name="dt" type="xs:date" />
  </message>
  <message name="GetFactDatabyAgentIDResponse">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetAgentsByLNR_INNRequest">
    <part name="LNR_INN" type="xs:string" />
    <part name="fuz_yur_ii" type="xs:int" />
  </message>
  <message name="GetAgentsByLNR_INNResponse">
    <part name="return" type="xs:string" />
  </message>
  <message name="CheckPreferentialExtensionRequest">
    <part name="request_xml" type="xs:string" />
  </message>
  <message name="CheckPreferentialExtensionResponse">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetInfoContractsRequest">
    <part name="request_xml" type="xs:string" />
  </message>
  <message name="GetInfoContractsResponse">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetDataRequest">
    <part name="XML" type="xs:string" />
  </message>
  <message name="GetDataResponse">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IAPO2_ARM_READER">
    <operation name="Check_BSO">
      <input message="tns:Check_BSORequest" />
      <output message="tns:Check_BSOResponse" />
    </operation>
    <operation name="Check_BSO2">
      <input message="tns:Check_BSO2Request" />
      <output message="tns:Check_BSO2Response" />
    </operation>
    <operation name="Check_BSO3">
      <input message="tns:Check_BSO3Request" />
      <output message="tns:Check_BSO3Response" />
    </operation>
    <operation name="Check_BSO4">
      <input message="tns:Check_BSO4Request" />
      <output message="tns:Check_BSO4Response" />
    </operation>
    <operation name="Check_BSO5">
      <input message="tns:Check_BSO5Request" />
      <output message="tns:Check_BSO5Response" />
    </operation>
    <operation name="GetData">
      <input message="tns:GetDataRequest" />
      <output message="tns:GetDataResponse" />
    </operation>
    <operation name="GetFactDatabyAgentID">
      <input message="tns:GetFactDatabyAgentIDRequest" />
      <output message="tns:GetFactDatabyAgentIDResponse" />
    </operation>
    <operation name="GetAgentsByLNR_INN">
      <input message="tns:GetAgentsByLNR_INNRequest" />
      <output message="tns:GetAgentsByLNR_INNResponse" />
    </operation>
    <operation name="CheckPreferentialExtension">
      <input message="tns:CheckPreferentialExtensionRequest" />
      <output message="tns:CheckPreferentialExtensionResponse" />
    </operation>
    <operation name="GetInfoContracts">
      <input message="tns:GetInfoContractsRequest" />
      <output message="tns:GetInfoContractsResponse" />
    </operation>
  </portType>
  <binding name="IAPO2_ARM_READERbinding" type="tns:IAPO2_ARM_READER">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="Check_BSO">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#Check_BSO" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Check_BSO2">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#Check_BSO2" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Check_BSO3">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#Check_BSO3" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Check_BSO4">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#Check_BSO4" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Check_BSO5">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#Check_BSO5" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetData">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#GetData" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetFactDatabyAgentID">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#GetFactDatabyAgentID" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetAgentsByLNR_INN">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#GetAgentsByLNR_INN" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="CheckPreferentialExtension">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#CheckPreferentialExtension" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetInfoContracts">
      <soap:operation soapAction="urn:APO2_ARM_READER_c-IAPO2_ARM_READER#GetInfoContracts" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:APO2_ARM_READER_c-IAPO2_ARM_READER" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IAPO2_ARM_READERservice">
    <port name="IAPO2_ARM_READERPort" binding="tns:IAPO2_ARM_READERbinding">
      <soap:address location="http://arm-soap-proxy.api-test.rgs.ru:80/apo2_arm_reader.dll/soap/IAPO2_ARM_READER" />
    </port>
  </service>
</definitions>